body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.left-panel,
.right-panel {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.left-panel {
  background-color: #e0e0e0;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .left-panel,
  .right-panel {
    flex: 1;
  }
}
